<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="format-detection" content="telephone=no"> 
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

    <title>Page title</title>
	<style type="text/css">
 .imagesArcadia{max-width:100%;width:100%}       
body {
            margin: 0;
            padding: 0;
            min-width: 100% !important;
            Font-family: raleway, arial, verdana;
        }

        .content {
            width: 100%;
            max-width: 600px;
        }
        a {
            text-decoration:none;
        }
        p {
            padding-bottom:10px;
            margin: 0;
			line-height:26px
        }
        ul,li {
            margin:0;
            padding:0 0 10px 0;
			line-height:26px
        }
        ul {
            margin-left:20px;
        }
        table.container {
            max-width:700px;
                margin: 0 auto;
        }
        .col-4 td {
            width:25%;
        }
        @media only screen and (max-width: 596px) {
            table.container {
                width: auto !important;
            }
            table.containerIcons td {
                float:left;
                width:33.33% !important;
                box-sizing: border-box;
                height: 200px;

            }
            .col-4 td:first-child,.col-4 td:last-child {
               display: none
            }
			.col-4 td {
				width:50%;
			}
			.mobileHide {
				display:none;
			}
        }
    </style>
	</head>
	<body>
<table width="768" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0" class="container">
    <!--<tr>
            <td style="padding:10px 20px; background: #9addf5;">
                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" >
                    <tr>
                        <td>
                            <a href="http://tm.org.au">
                                <img src="http://resources.tm.org/email/images/logos/01-Logo-Trademarks-2013_EN_100_R.png" alt="Transcendental Meditation Australia" border="0" width="200"/>
                            </a>
                        </td>
                        
                        <td align="right">
                            <h1 style="color: #354370;font-size:20px;font-family: 'Raleway', sans-serif;margin:0;padding:0"> Learn to Meditate</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>-->
    <tbody>
        <tr>
            <td>
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td><img src="http://resources.tm.org/email/images/arcadia/peacepalacelogo_2000x1096.jpg" alt="" width="768" style="display:block;width:100%" class="imagesArcadia" /></td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td style="padding:10px 20px; background: #ffffff;color: #5a7c93;font-size:16px">
            <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr>
                        <td>
                        <p>Dear [$first_name$],</p>
                        <p>Thank you for your enquiry which has been passed to your local certified Teacher of Transcendental Meditation.</p>
                        <p>The Transcendental Meditation technique is surprisingly easy to learn and simple to practise.  Anyone can learn it, it&rsquo;s enjoyable, natural and very effective!</p>
                        <p>TM courses are conducted throughout Australia by accredited and experienced TM teachers. The first step in the process is to attend an Info Session where you can find out everything you need to know in a relaxed atmosphere, with ample opportunity to have all your questions answered.  If you then want to go ahead and take the course of instruction, the teacher will be happy to discuss available dates and times.</p>
                        <p>Further information about TM is included below.</p>
                        <p>Best wishes,<br />
                        <strong>Transcendental Meditation Australia</strong></p>
                        <p><br />
                        Your local Certified Teacher of Transcendental Meditation:<br />
                       </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td style="line-height: 0;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="col-4">
                <tbody>
                    <tr>
                        <td style="background:#cceefa;" class="mobileHide"> &nbsp;</td>
                        <td><img src="http://resources.tm.org/email/images/arcadia/how-do-i-learn-video2-Buzzfeed-520.jpg" border="0" width="100%" alt=""  /></td>
                        <td style="background:#acbcc7;padding:10px;text-align: center;color:#FFF"><a class="poppup fancybox.iframe" href="https://player.vimeo.com/video/173361333?autoplay=1"><img class="align-center pb-10" src="http://resources.tm.org/Arcadia/VideoPlayBlue.png" width="40"  /></a>
                        <p style="font-size:16px;padding:10px 0;line-height:20px">People talking about their experience with TM</p>
                        </td>
                        <td style="background:#cceefa;" class="mobileHide">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;font-family: 'Raleway', sans-serif; border:5px solid #42bff4;    background: #FFF;color:#597d91">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td style="text-align: center;color: #42bff4">
                        <h3>What benefits will I see from practising TM?</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        <p style="font-size:16px;margin:0;">Regular practice of Transcendental Meditation brings you into harmony with both yourself and nature. This can express itself differently for different people. Many insomniacs begin to sleep better, artists feel more creative and stress is reduced all round! TM can help you be the best version of yourself, a calmer, more focused you with more energy in your daily activity.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'Raleway', sans-serif; background: #4f9df0;color: #FFF;font-size: 20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="containerIcons">
                <tbody>
                    <tr>
                        <td style="padding: 10px;width:16.66%;text-align:center;vertical-align: top">
						<img src="http://resources.tm.org/email/images/arcadia/benefit1.png" alt="Facebook" border="0" width="100%" style="display:block;width:100%;" class="imagesArcadia" />
                        <h5 style="font-size:11px;margin:5px;color: #fff;">REDUCED ANXIETY &amp; DEPRESSION</h5>
                        </td>
                        <td style="padding: 10px;width:16.66%;text-align:center;vertical-align: top"><img src="http://resources.tm.org/email/images/arcadia/benefit2.png" alt="Facebook" border="0" width="100%" style="display:block;width:100%" class="imagesArcadia" />
                        <h5 style="font-size:11px;margin:5px;color: #fff;">LOWER RISK OF HEART ATTACK &amp; STROKE</h5>
                        </td>
                        <td style="padding: 10px;width:16.66%;text-align:center;vertical-align: top"><img src="http://resources.tm.org/email/images/arcadia/benefit3.png" alt="Facebook" border="0" width="100%" style="display:block;width:100%" class="imagesArcadia" />
                        <h5 style="font-size:11px;margin:5px;color: #fff;">MORE ENERGY</h5>
                        </td>
                        <td style="padding: 10px;width:16.66%;text-align:center;vertical-align: top"><img src="http://resources.tm.org/email/images/arcadia/benefit4.png" alt="Facebook" border="0" width="100%"  style="display:block;width:100%" class="imagesArcadia"/>
                        <h5 style="font-size:11px;margin:5px;color: #fff;">INCREASED BRAIN FUNCTION &amp; CREATIVITY</h5>
                        </td>
                        <td style="padding: 10px;width:16.66%;text-align:center;vertical-align: top"><img src="http://resources.tm.org/email/images/arcadia/benefit5.png" alt="Facebook" border="0" width="100%" style="display:block;width:100%" class="imagesArcadia" />
                        <h5 style="font-size:11px;margin:5px;color: #fff;">REDUCED INSOMNIA</h5>
                        </td>
                        <td style="padding: 10px;width:16.66%;text-align:center;vertical-align: top"><img src="http://resources.tm.org/email/images/arcadia/benefit6.png" alt="Facebook" border="0" width="100%" style="display:block;width:100%" class="imagesArcadia" />
                        <h5 style="font-size:11px;margin:5px;color: #fff;">GREATER RESILIENCE TO STRESS</h5>
                        </td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <!--<tr>
            <td style="padding:10px 20px; background: #ffffff;color: #5a7c93;font-size:16px">
                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">        
            <p>To receive additional information or if you have any queries, please contact me on my mobile number below or email/txt me with your mobile number and I can call you</p>
             <p>  [$centre-main-contact$]<br />
                  [$ctr-email-footer1$]<br />
                  tel: [$centre-main-telephone$]<br />
                            email: [$centre-email$] <br />
                            </p>                                                   
						</table>
           </td>  
		</tr>-->
        <tr>
            <td style="line-height: 0;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="col-4">
                <tbody>
                    <tr>
                        <td style="background:#cceefa;" class="mobileHide">&nbsp;</td>
                        <td><img src="http://resources.tm.org/email/images/arcadia/how-do-i-learn-video1.jpg" border="0" width="100%" alt="" width="100%" alt="" style="display:block;width:100%;max-width:200px" /></td>
                        <td style="background:#acbcc7;padding:10px;text-align: center;color:#FFF"><a class="poppup fancybox.iframe" href="https://player.vimeo.com/video/217809299?autoplay=1"><img class="align-center pb-10" src="http://resources.tm.org/Arcadia/VideoPlayBlue.png" width="40"  /></a>
                        <p style="font-size:16px;padding:10px 0;line-height:20px;">People talking about their experience with TM</p>
                        </td>
                        <td style="background:#cceefa;" class="mobileHide">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px;font-family: 'Raleway', sans-serif; background: #ebf8fd;color: #42bff4;font-size: 20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td><a href="http://tm.org.au/">                                 <img src="https://resources.tm.org/logos/logo-58.png" alt="Transcendental Meditation Australia" border="0" width="230" />                             </a></td>
                        <td style="text-align: right;"><a href="https://www.facebook.com/TranscendentalMeditationAustralia">                                 <img src="http://resources.tm.org/icons/facebook-icon.png" alt="Facebook" border="0" />                             </a>                             <a href="https://twitter.com/TMSydney">                                 <img src="http://resources.tm.org/icons/twitter-icon.png" alt="Twitter" border="0" />                             </a>                             <a href="https://www.youtube.com/user/MaharishiAustralia">                                 <img src="http://resources.tm.org/icons/youtube-icon.png" alt="YouTube" border="0" />                             </a></td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td class="footer" bgcolor="#42c2f5;" style="font-size:14px;background:#42c2f5;padding:20px;    color: #36506b;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td align="center" style="padding:10px;">Copyright                             2017 Maharishi Foundation Australia and <br />
                        Global Mother Divine Organisation - Australia Ltd.</td>
                    </tr>
                    <tr>
                        <td align="center">Maharishi Foundation Australia and Global Mother Divine Organisation-Australia Limited have been teaching Transcendental Meditation&reg; in Australia for more than 50 years. <br />
                        Maharishi Foundation Australia Ltd - ABN 21 615 281 546 &amp; GMDO - ABN 91 133 636 889</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>